.buttonColumn{
    border-right: 1px solid rgb(193, 193, 193);
}

.bottomButton{
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: .5rem !important;
    vertical-align: center;
}

.bottomButton img{
    height: 4rem;
}