.ui.modal.transition.visible.active {
    position: fixed;
    top: 20rem;
    width: 90%;
    margin: auto;
}

.modalDescription {
    margin-top: 4rem !important;
}

.modalDescription p {
    font-size: 1.25rem;
}

.modalDescription h2 {
    padding-bottom: .8rem;
    border-bottom: 1px solid rgb(193, 193, 193);
}
.blueText{
    color: rgb(89, 77, 255);
    font-weight: bold;
    font-size: 1.25rem;
}

.infoIcon{
    font-size: 1em !important;
    background-image: linear-gradient(0deg, rgb(89, 77, 255), rgb(82, 125, 253));
    /* padding: 1.25rem; */
    border-radius: 3px !important;
    color: white !important;
    height: 2rem !important;
    width: 2rem !important;
    line-height: 2rem !important;
    margin: 0 2rem 1rem 0 !important;
    float: right;
 
}

.ui.dimmer {
    background-color: transparent;
}