.stateListDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid rgb(193, 193, 193);
}

.allStates{
    padding-top: 3.9rem;
}

.stateListDiv h2 {
    margin: 0 0 0 2rem;
    text-align: left;
    letter-spacing: 1px;
}

.stateListDiv p {
    color: #424242 !important;
    padding: 0;
    margin: .5rem 0 0 2rem;
    text-align: left;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.flagImage {
    width: 6rem;
    margin: 0 2rem;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, .2);
}